@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #ffffff;
}

#hero {
  background-image: url("/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-product {
  background-image: url("/777.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
@media (max-width: 576px) {
  #hero {
    background-image: url("/hero.jpg");
    background-position: center;
  }
} */

/* .item {
  @apply relative overflow-hidden md:w-1/4;
} */

.primary-button {
  background-color: #16b2d3;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
